.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.1rem;
}

.cart-item-desc, .cart-item-qty {
    flex: 15;
    display: flex;
    flex-direction: column;
}

.cart-item-pic {
    flex: 3;
    padding: 0 1rem;
}

.cart-item-desc > div:last-child {
    padding-top: 0.5rem;
    color: #398bc5;
    cursor: pointer;
}

.cart-item-desc > div:nth-child(2) {
    color: #6b859c;
}

.cart-item-desc > div:first-child {
    color: #102a42;
}

.cart-item-pic > img {
    height: 100%;
    width: 100%;
}

.cart-item-qty {
    flex: 1;
    text-align: center;
    color: #2680c0;
}

.cart-item-qty > div:nth-child(2) {
    padding: 0.5rem 0;
    color: #102a42;
}

.qty-btn {
    cursor: pointer;
}